@media all and (min-width: 700px) {
    body {
        min-width: 935px;
    }

	/*NAVIGATION*/
	
    .toggle {
        display: none;
    }
    
    p, .content {
        max-width: 1172px;
        margin-left: auto;
        margin-right: auto;
    }

    nav {
        height: 106px;
        line-height: 106px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.06);
    }
    nav .main {
        display: inline-block;
        float: right;
    }
    nav .main a {
        color: #f7f7f7;
        text-decoration: none;
        font-weight: bold;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        margin: 0 14px;
    }
    nav .main a.active,
    nav .main a:hover {
        border-bottom: 3px solid #f7f7f7;
    }
    nav .logo {
        margin-top: 20px;
    }
    nav .logo img {
        height: auto;
    }
	
/* SECTION 1 -- INTRO */
    
    .intro {
        background-size: auto auto;
        height: 700px;
    }
    .intro h1 {
        font-size: 48px;
        font-weight: 900;
    }
    .intro h2 {
        font-size: 24px;
    }
    .intro > div {
        padding-top: 230px;
    }
    .arrow {
        margin-top: 132px;
    }
    .arrow img {
        height: auto;
	}
	
/* SECTION 2 -- WHO WE ARE */
	
	.whoWeAre {
		background-color: #f7f7f7;
		height: 574px;
	}
	
	.whoWeAre div {
		padding-top: 0px;
	}
	
	div.iphone {
		background-size: 150px 393px;
		width: 150px;
		height: 393px;
		display: block;
		position: absolute;
		margin-top: 91px;
		margin-left: 907px;
	}
	
	.whoWeAre .Icon {
		background-size: 47px 55px;
		width: 47px;
		height: 55px;
		margin-top: 117px;
		margin-left: 0px;
	}
	
	.whoWeAre h3 {
		font-family: "Source Sans Pro", sans-serif;
		font-size: 30px;
		font-weight: normal;
		text-transform: uppercase;
		margin-left: 23px;
	}
	
	.whoWeAre p, p2 {
		display: block;
		width: 767px;
		font-family: "Source Sans Pro", sans-serif;
		font-weight: normal;
		font-size: 18px;
		margin-left: 0px;
		margin-top: 23px;
		margin-right: 29px;
		line-height: 1.3em;
	}
	
	.whoWeAre p2 span {
		display: inline;
	}

	.whoWeAre a.button {
		color: #acd373;
		font-family: "DroifSerif", serif;
		font-size: 18px;
		font-style: italic;
		text-decoration: none;
		border: 1px solid #acd373;
		padding: 13px 21px;
		display: inline-block;
		margin-top: 46px;
		margin-bottom: 111px;
		margin-left: 0px;
	}
	
/* SECTION 3 -- VIDEO */
	
	.videoPlayer {
		height: 521px;
		background-image: url("img/video_bg.png");
		background-position: center 0;
		background-size: cover;
		background-repeat: no-repeat;
	}
	
	img.play {
		max-width: 136px;
		margin-top: 191px;
	}
	
/* SECTION 4 -- OUR SERVICES */
	
	.ourServices h3 {
		font-family: "Source Sans Pro", sans-serif;
		font-size: 30px;
		font-weight: normal;
		text-transform: uppercase;
		display: block;
		text-align: center;
		padding-top: 100px;
	}
	.ourServices h3 span {
		color: #acd373;
	}

	.ourServices h4 {
		margin-top: 24px;
		font-family: "Droid Serif", serif;
		font-size: 18px;
		font-weight: normal;
		color: #454545;
		text-align: center;
		display: block;
	}

	.ourServices .blackSep {
		margin-top: 23px;
		margin-bottom: 89px;
		background-image: url("img/separator_black.png");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 125px 10px;
		height: 10px;
	}
	
	.Icon1 {
		width: 47px;
		height: 78px;
		margin-left: 0px;
	}

	.description1 {
		height: 78px;
		margin-left: 29px;
		
	}

	.description1 h5 {
		 font-size: 20px;
		 margin-left: 0px;
		 margin-top: 0px;
	}

	.p1, .p3 {
		font-size: 18px;
		margin-left: 0px;
		margin-top: 17px;
		width: 283px;
	}
	
	.Icon2 {
		width: 45px;
		height: 75px;
		margin-left: 26px;
	}
	.description2 {
		height: 78px;
		margin-left: 29px;
	}
	
	.description2 h5 {
		 font-size: 20px;
		 margin-left: 0px;
		 margin-top: 0px;
	}
	
	.Icon3 {
		width: 72px;
		height: 74px;
		margin-left: 26px;
	}
	
	.description3 {
		height: 78px;
		margin-left: 29px;
	}
	
	.description3 h5 {
		 font-size: 20px;
		 margin-left: 0px;
		 margin-top: 0px;
	}
	
	.description4, .description5, 
	.description6, .p4, .p5, .p6, .Icon4, .Icon5, .Icon6 {
			display: inline-block;
		}
	
	.p4, .p5, .p6 {
		font-size: 18px;
		font-family: "Source Sans Pro", sans-serif;
		font-style: 400;
		color: #454545;
		margin-left: 0px; 
		margin-top: 17px;
		width: 283px;
	}
	
	.Icon4 {
		width: 71px;
		height: 76px;
		margin-left: -10px;
		margin-top: 90px;
	}

	.description4 {
		height: 78px;
		margin-left: 14px;
		margin-top: 90px;
	}

	.description4 h5 {
		 font-size: 20px;
		 margin-left: 0px;
		 margin-top: 0px;
	}
	
	.Icon5 {
		width: 71px;
		height: 52px;
		margin-left: 15px;
		margin-top: 90px;
	}
	
	.description5 {
		height: 78px;
		margin-left: 14px;
		margin-top: 90px;
	}
	
	.description5 h5 {
		 font-size: 20px;
		 margin-left: 0px;
		 margin-top: 0px;
	}
	
	.Icon6 {
		width: 73px;
		height: 63px;
		margin-left: 30px;
		margin-top: 90px;
	}
	
	.description6 {
		height: 78px;
		margin-left: 25px;
		margin-top: 90px;
	}
	
	.description4 h5, .description5 h5, .description6 h5 {
		font-family: "Source Sans Pro", sans-serif;
     	font-weight: bold;
		text-transform: uppercase;
     	color: #acd373;
		font-size: 20px;
		margin-left: 0px;
		margin-top: 0px;
		display: block;
	}
	
	.ourServices a.button {
		font-size: 18px;
		padding: 16px 20px;
		display: inline-block;
		margin-top: 85px;
		margin-bottom: 101px;
	}

/* SECTION 5 -- MEET OUR AMAZING TEAM */
	
	.ourTeam {

	}
	
	.ourTeam h3 {
		font-size: 30px;
		padding-top: 101px;
	}
	
	.ourTeam h4 {
		margin-top: 24px;
		font-size: 18px;
	}
	
	.ourTeam .whiteSep {
		margin-top: 23px;
		margin-bottom: 89px;
		background-size: 125px 10px;
		color: transparent;
		margin-bottom: 0px;
	}
	
	.ourTeam .arrow-left {
		margin-left: -682px;
		margin-top: 191px;
		width: auto;
	}

	.arrow-left img {
		height: 49px;
	}


	.ourTeam .arrow-right {
		display: inline-block;
		vertical-align: top;
		margin-left: 650px;
		margin-top: 191px;
		width: auto;
	}

	.arrow-right img {
		height: 49px;
	}
	
	
	.person1, .person2 {
		background: #f7f7f7;
		border-radius: 5px;
		text-align: center;
		display: inline-block;
		width: 270px;
		height: 247px;
		margin-top: 113px;
		margin-right: 30px;
	} 

	div .person2:nth-of-type(4) {
		margin-right: 0px;
	
	} 
	
	.person1 > img {
		margin-top: -70px;
		border-radius: 40px;
		height: 140px;
	}
	
	.person2 > img {
		margin-top: -70px;
		border-radius: 40px;
		height: 140px;
	}
	
	img.border {
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    border-radius: 75px;
}
	
	.person1 h5 {
		margin-top: 30px;
		font-size: 20px;
	}
	
	.person2 h5 {
		margin-top: 32px;
		font-family: "Source Sans Pro", sans-serif;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 20px;
		color: #acd373;
		text-align: center;
		line-height: .3px
	}

	.person1 h6 {
		margin-top: 21px;
		font-size: 16px;
	}
	
	.person2 h6 {
		margin-top: 21px;
		font-family: "DroidSerif", serif;
		font-style: italic;
		font-weight: normal;
		font-size: 16px;
		color: #787878;
		text-align: center; 
	}
	
	.person1 > div {
		background: #ebebeb;
		height: 70px;
		line-height: 70px;
		margin-top: 30px;
	}
	
	.person2 > div {
		background: #ebebeb;
		height: 70px;
		line-height: 70px;
		margin-top: 30px;
	}
	
	.person1 > div > img {
		vertical-align: middle;
		height: 28px;
		width: 28px;
		margin-right: 10px;
	}
	
	.person2 > div > img {
		vertical-align: middle;
		height: 28px;
		width: 28px;
		margin-right: 10px;
	}

	div.footer {
		margin-top: 104px;
		height: 110px;
		text-align: center;
		vertical-align: middle;
	}
	
	.half-text {
		margin-top: 51px;
		margin-right: 47px;
		margin-left: 0px;
		font-size: 18px;
	}
	
	.half-button {
		margin-left: 0px;
	}
	
	.ourTeam a.button {
		font-size: 18px;
	}
	
/* SECTION 6 -- OUR RECENT WORKS*/
	
	.ourWorks {
		vertical-align: middle;
		
	}
	
	.ourWorks h3 {
		font-size: 30px;
		padding-top: 100px;
	}
	
	.ourWorks h4 {
		margin-top: 24px;
		font-size: 18px;
	}
	
	.ourWorks .blackSep {
		margin-top: 23px;
		background-image: url("img/separator_black.png");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 125px 10px;
		height: 10px;
	}
	
	.ourWorks h5 {
		font-size: 18px;
		color: #454545;
		margin-top: 26px;
	}

	.ourWorks h6 {
		font-size: 16px;
		margin-top: 13px;
	}
	
	.ourWorks img {
		width: 369px;
	}
	
	.devo-box {
		display: inline-block;
		width: 369px;
		height: 99px;
		background-color: #ebebeb;
	}

	.ourWorks a.button {
		font-size: 18px;
		padding: 12px 30px;
		display: inline-block;
		margin-top: 80px;
		margin-bottom: 73px;
	}
	
	.ourWorks .footer {
		height: 119px;
		margin-top: 0px;
	}

	img.client {
		display: inline-block;
		vertical-align: top;
		margin-top: 40px;
		width: auto;
		height: auto;
	}
	
	span.desktop-clients {
		display: inline-block;
	}
	
	img .desktop-clients {
		margin-left: 50px;
	}
	
	div img.client:nth-of-type(1) {
		margin-left: 26px;
	}
	
	.worksRow1, .worksRow2 {
		display: block;		
	}

	.worksRow1 img {
		width: 570px;
		height: 280px;
	}
	
	.worksRow1 img.left {
		margin-left: 29px;
	}
	
	.worksDef-upLeft {
		width: 570px;
		height: 89px;
		background-color: #ebebeb;
		margin-top: -2px;
		margin-bottom: 31px;
		display: inline-block;
		}
	
	.worksDef-upRight {
		width: 570px;
		height: 89px;
		background-color: #ebebeb;
		margin-top: -2px;
		margin-bottom: 31px;
		display: inline-block;
		margin-left: 30px;
		}
	
	.worksRow2 > .worksDef-lowMid, .worksDef-lowRight, .worksRow2 img.left {
	display:inline-block;
}
	
	.worksRow2 img.left {
		display: inline-block;
		margin-left: 30px;
	}
	
	.worksRow2 img {
		width: 369px;
		height: 200px;
	}
	.worksDef-lowLeft {
		display: inline-block;
		width: 369px;
		height: 99px;
		background-color: #ebebeb;
		margin-top: -2px;
	}
	
	.worksDef-lowMid {
		display: inline-block;
		width: 369px;
		height: 99px;
		background-color: #ebebeb;
		margin-left: 30px;
		margin-top: -2px;
	}
	
	.worksDef-lowRight {
		display: inline-block;
		width: 369px;
		height: 99px;
		background-color: #ebebeb;
		margin-left: 30px;
		margin-top: -2px;
	}
	
/* SECTION 7 -- TESTIMONIALS */
	.testimony {
		background-image: url("img/testimony_background_desktop.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
		height: 550px;
	}
	
	.profile1 {
		display: inline-block;
		width: 0px;
	}
	
	.profile2 {
		display: inline-block;
		width: 0px;
	}
	
	.testimony .client {
		background-size: 100px;
		margin-left: 0px;
		margin-top: 0px;
	}
	
	
	.quotebox {
		display: inline-block;
		background-size: 370px 144px;
		width: 370px;
		height: 144px;
		margin-left: 0px;
		margin-top: 0px;
	}
	
	.testimony p.quote {
		padding-left: 12px;
		padding-top: 29px;
		padding-right: 23px;
		font-size: 16px;
	}
	
	.quotations {
		background-image:url("img/blockquotes.png");
		background-size: 23px 17px;
		width: 23px;
		height: 17px;
		margin-top: 83px;
		margin-left: 312px;
	}
	
	.client h3 {
		font size: 18px;
		margin-left: 104px;
		margin-top: 22px;
	}

	.client h4 {
		font size: 18px;
		margin-left: 104px;
		margin-top: 47px;
	}
	
	.carousel {
		margin-top: 23px;
		margin-left: 160px;
	}
	
	.carousel img {
		width: 40px;
		height: 11px;
	}
	
	.testimony h5 {
		margin-top: 70px;
		margin-left: 29px;
		font-size: 30px;
	}
	
	.testimony p.testimonial {
		margin-top: 22px;
		margin-left: 29px;
		font-size: 18px;
	}

	.testimony a.button {
		font-size: 18px;
		padding: 24px 12px;
		margin-top: 23px;	
		margin-bottom: 49px;
		margin-left: 30px;
	}
	
}

