/*GLOBAL*/

body {
    font-size: 16px;
}

.sr-only {
        text-indent: 9999em;
        overflow: hidden;
}



/*NAVIGATION*/

nav {
    background-color: #acd373;
    height: 40px;
    line-height: 40px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.06);
	position: relative;
}

nav .main {
	display: none;
}

.logo {
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    margin-left: 30px;
}

.logo img {
	height: 25px;
}

.toggle {
    background-image: url("img/nav-toggle.png");
    width: 11px;
    height: 10px;
    display: inline-block;
    background-color: #89a85c;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    float: right;    
}

/* SECTION 1 -- INTRO */


.intro {
    background-color: #9abd67;
	background-image: url("img/siluet.png");
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: auto 85px;
    color: #f7f7f7;
	height: 350px;
}

.intro > div {
    text-align: center;
    padding-top: 125px;
}

.intro h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    color: #f7f7f7;
    font-weight: bold;
    text-transform: uppercase;
}

.intro h2 {
    font-family: "Droid Serif", serif;
    font-style: italic;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    
}

.arrow {
    display: inline-block;
    margin-top: 57px;
}

.arrow img {
    height: 14px;
}



/* SECTION 2 -- WHO WE ARE */

.whoWeAre > div {
	padding-top: 43px;
}

.whoWeAre {
    background-color: #f7f7f7;
    color: #454545;
}

div.iphone {
    background-image: url("img/iphone.png");
    background-repeat: no-repeat;
	background-size: 78px 207px;
    width: 78px;
    height: 207px;
	text-align: center;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

.whoWeAre .Icon {
    background-image: url("img/icon_man449.png");
    background-repeat: no-repeat;
	background-size: 25px 30px;
    display: inline-block;
    width: 25px;
    height: 30px;
    margin-left: 29px;
    margin-top: 36px;
    vertical-align: text-bottom;
}

.whoWeAre h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    margin-left: 13px;
    display: inline;
}

.whoWeAre p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    font-size: 13px;
    margin-left: 29px;
    margin-top: 23px;
	margin-right: 29px;
	line-height: 1.3em;
}

.whoWeAre p2 span {
		display: none;
	}

.whoWeAre a.button {
    color: #acd373;
    font-family: "DroifSerif", serif;
    font-size: 11px;
    font-style: italic;
    text-decoration: none;
    border: 1px solid #acd373;
    padding: 10px 12px;
    display: inline-block;
   	margin-top: 28px;
    margin-left: 29px;
    margin-bottom: 27px;
}


/* SECTION 3 -- VIDEO PLAYER */

.videoPlayer {
	height: 261px;
	width: 100%;
	text-align: center;
	background-image: url("img/video_bg.png");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

img.play {
	max-width: 68px;
	margin-top: 97px;
	

}


/* SECTION 4 -- OUR SERVICES */



.ourServices {
    background-color: #f7f7f7 ;
    color: #454545;

}

.ourServices h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding-top: 43px;
}
.ourServices h3 span {
    color: #acd373;
}

.ourServices h4 {
    margin-top: 14px;
    font-family: "Droid Serif", serif;
    font-size: 12px;
    font-weight: normal;
    color: #454545;
    text-align: center;
    display: block;
}

.ourServices .blackSep {
    margin-top: 13px;
    margin-bottom: 31px;
    background-image: url("img/separator_black.png");
    background-repeat: no-repeat;
    background-position: center center;
	background-size: 76px 6px;
    height: 7px;
}


.Icon1 {
    display: inline-block;
    width: 36px;
    height: 61px;
    margin-left: 40px;
    position: relative;
}

.description1 {
    display: inline-block;
    height: 61px;
    vertical-align: bottom;
}

 .description1 h5 {
     font-family: "Source Sans Pro", sans-serif;
     font-weight: bold;
     font-size: 14px;
     text-transform: uppercase;
     color: #acd373;
     margin-left: 24px;
     display: block;
     margin-top: 0px;
     vertical-align: top;
}

.p1 {
   font-family: "Source Sans Pro", sans-serif;
    font-style: 400;
    font-size: 13px;
    color: #454545;
    display: block;
    margin-left: 24px;
    margin-top: 13px;
    width: 225px;
}

.Icon2 {
    display: inline-block;
    width: 35px;
    height: 59px;
    margin-left: 40px;
    position: relative;
}

.description2 {
    display: inline-block;
    height: 61px;
    vertical-align: bottom;
    margin-top: 30px;
}

 .description2 h5 {
     font-family: "Source Sans Pro", sans-serif;
     font-weight: bold;
     font-size: 14px;
     text-transform: uppercase;
     color: #acd373;
     margin-left: 24px;
     display: block;
     margin-top: 0px;
     vertical-align: top;
}

.Icon3 {
    display: inline-block;
    width: 42px;
    height: 48px;
    margin-left: 40px;
    position: relative;
}

.description3 {
    display: inline-block;
    height: 61px;
    vertical-align: inherit;
    margin-top: 39px;
}

 .description3 h5 {
     font-family: "Source Sans Pro", sans-serif;
     font-weight: bold;
     font-size: 14px;
     text-transform: uppercase;
     color: #acd373;
     margin-left: 17px;
     display: block;
     margin-top: 0px;
     vertical-align: top;
}

.p3 {
   font-family: "Source Sans Pro", sans-serif;
    font-style: 400;
    font-size: 13px;
    color: #454545;
    display: block;
    margin-left: 17px;
    margin-top: 13px;
    width: 225px;
}

.description4, .description5, .description6, .p4, .p5, .p6, .Icon4, .Icon5, .Icon6  {
	display: none;
}


.buttonCenter {
    text-align: center;
}

.ourServices a.button {
    color: #acd373;
    font-family: "Droid Serif", serif;
    font-size: 11px;
    font-style: italic;
    text-decoration: none;
    border: 1px solid #acd373;
    padding: 10px 12px;
    display: inline-block;
    margin-top: 48px;
    margin-bottom: 47px;
}


/* SECTION 5 -- MEET OUR AMAZING TEAM */

.ourTeam {
    background-color: #acd373;
	text-align: center;
}

.ourTeam h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #f7f7f7;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding-top: 47px;
}

.ourTeam h4 {
    margin-top: 14px;
    font-family: "Droid Serif", serif;
    font-size: 12px;
    color: #f7f7f7;
    font-weight: normal;
    text-align: center;
    display: block;
}

.ourTeam .whiteSep {
    margin-top: 13px;
    margin-bottom: 81px;
    background-image: url("img/separator.png");
    background-repeat: no-repeat;
    background-position: center center;
	background-size: 76px 6px;
	color: transparent;
	line-height: 7px;
}

.ourTeam .arrow-left {
	position: absolute;
	display: inline-block;
	vertical-align: top;
	margin-left: -149px;
	margin-top: 55px;
	width: auto;
}

.arrow-left img {
	height: 40px;
}

.person2 {
	display: none;
} 

.ourTeam .arrow-right {
	position: absolute;
    display: inline-block;
	vertical-align: top;
	margin-left: 128px;
	margin-top: 55px;
	width: auto;
}

.arrow-right img {
	height: 40px;
}

.person1 {
  background: #f7f7f7;
  border-radius: 5px;
  width: 200px;
  height: 182px;
  text-align: center;
  display: inline-block;
}

.person1 > img {
	margin-top: -30px;
	border-radius: 40px;
	height: 70px;
}

img.border {
  /*border-radius.com 
  1. Add border first
  2. Get image height
  3. image height + border top and bottom height / 2 = Border radius 
  */
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    border: 5px solid #acd373;
}

.person1 h5 {
    margin-top: 32px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #acd373;
    text-align: center;
	line-height: .3px
}

.person1 h6 {
    margin-top: 15px;
    font-family: "DroidSerif", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    color: #787878;
    text-align: center; 
}
.person1 > div {
	background: #ebebeb;
  	height: 52px;
  	line-height: 52px;
	margin-top: 19px;
}
.person1 > div > img {
  	vertical-align: middle;
	height: 23px;
	width: 23px;
	margin-right: 8px;
}

div.footer {
    margin-top: 60px;
    background-color: #9abd67;
    height: 66px;   
	text-align: left;
	width:auto;
}

.half-text {
	display: inline-block;
	font-family: "Source Sans Pro", sans-serif;
    font-size: 13px;
    color: #f7f7f7;
    font-weight: normal;
	margin-left: 31px;
}

.half-button {
	display: inline-block;
	font-family: "Droid Serif", serif;
    font-size: 11px;
    color: #f7f7f7;
    font-weight: normal;
	margin-left: 42px;
}

.ourTeam a.button {
    color: #f7f7f7;
    font-family: "Droid Serif", serif;
    font-size: 11px;
    font-style: italic;
    text-decoration: none;
    border: 1px solid #f7f7f7;
    padding: 10px 12px;
    display: inline-block;
    margin-top: 18px;	
}

/* SECTION 6 -- OUR RECENT WORKS*/

.ourWorks {
    background-color: #f7f7f7 ;
	text-align: center;
}

.worksRow1 {
	display: none;
}

.worksRow2 > .worksDef-lowMid, .worksDef-lowRight, .worksRow2 img.left {
	display: none;
}

.ourWorks h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    display: block;
    padding-top: 43px;
}
.ourWorks h3 span {
    color: #acd373;
}

.ourWorks h4 {
    margin-top: 14px;
    font-family: "Droid Serif", serif;
    font-size: 12px;
    font-weight: normal;
    color: #454545;
    display: block;
}

.ourWorks .blackSep {
    margin-top: 13px;
    margin-bottom: 31px;
    background-image: url("img/separator_black.png");
    background-repeat: no-repeat;
    background-position: center center;
	background-size: 76px 6px;
    height: 6px;
}

.ourWorks img {
	width: 298px;
}

.devo-box {
    display: inline-block;
    width: 298px;
    height: 80px;
    background-color: #ebebeb;
	margin-top: -3px;
}

.ourWorks h5 {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #454545;
	text-transform: uppercase;
	text-align: center;
	margin-top: 25px;
}

.ourWorks h6 {
	font-family: "Droid Serif", serif;
	font-weight: normal;
	font-style: italic;
	font-size: 12px;
	color: #454545;
	text-align: center;
	margin-top: 8px;
}

.ourWorks a.button {
    color: #acd373;
    font-family: "Droid Serif", serif;
    font-size: 11px;
    font-style: italic;
    text-decoration: none;
    border: 1px solid #acd373;
    padding: 10px 12px;
    display: inline-block;
    margin-top: 45px;	
}

.ourWorks .footer {
	margin-top: 47px;
	height: 80px;
	background-color: #ebebeb;
	text-align: center;
	vertical-align: middle;
}

img.client {
	display: inline-block;
	vertical-align: top;
	margin-top: 32px;
	width: 137px;
	margin-left: 26px;
}


div img.client:nth-of-type(1) {
		margin-left: 0px;
	}

span.desktop-clients {
	display: none;
}


/* SECTION 7 -- TESTIMONIALS */

.testimony {
	background-image: url("img/testimony_background_full.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -180px;
	overflow: hidden;
}


.profile2 {
	display: none;
}

.quotebox {
	background-image: url("img/testimony_quotebox.png");
	width: 300px;
	height: 105px;
	background-repeat: no-repeat;
	background-size: 300px 105px;
	margin-left: 30px;
	margin-top: 61px;
}

.testimony p.quote {
	padding-left: 10px;
	padding-top: 19px;
	padding-right: 10px;
	font-family: "Droid Serif", serif;
	font-weight: normal;
	font-size: 12px;
	color: #ebebeb;
}

.quotations {
	position: absolute;
	background-image:url("img/blockquotes.png");
	background-size: 19px 14px;
	width: 19px;
	height: 14px;
	margin-top: 55px;
	margin-left: 254px;
}


.testimony .client {
	position: relative;
	background-image: url("img/testimony_beard.png");
	background-repeat: no-repeat;
	background-size: 82px;
	width: 182px;
	height: 82px;
	margin-left: 31px;
	margin-top: 13px;
	
}

.testimony .client h3 {
	position: absolute;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: bold;
	font size: 14px;
	text-transform: uppercase;
	color: #acd373;
	margin-left: 104px;
	margin-top: 22px;
}

.testimony .client h4 {
	position: absolute;
	font-family: "Droid Serif", serif;
	font-weight: normal;
	font-style: italic;
	font size: 12px;
	color: #f7f7f7;
	margin-left: 104px;
	margin-top: 47px;
}

.carousel {
	display: block;
	margin-top: 23px;
	margin-left: 160px;
}

.carousel img {
	width: 40px;
	height: 11px;
}

.testimony h5 {
	margin-top: 70px;
	margin-left: 29px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 18px;
	color: #f7f7f7;
}

.testimony p.testimonial {
	margin-top: 22px;
	margin-left: 29px;
	width: 290px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #f7f7f7;
}

.testimony a.button {
    color: #acd373;
    font-family: "Droid Serif", serif;
    font-size: 11px;
    font-style: italic;
    text-decoration: none;
    border: 1px solid #acd373;
    padding: 10px 13px;
    display: inline-block;
    margin-top: 23px;	
	margin-bottom: 49px;
	margin-left: 30px;
}


/* SECTION 8 -- BLOG */

.blog {
	background-color: #f7f7f7;
	font-color: #454545;
}	

.blog h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding-top: 54px;
}

.blog h4 {
    margin-top: 14px;
    font-family: "Droid Serif", serif;
    font-size: 12px;
    font-weight: normal;
    color: #454545;
    text-align: center;
    display: block;
}

.blog .blackSep {
    margin-top: 13px;
    margin-bottom: 31px;
    background-image: url("img/separator_black.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 7px;
}

.blog h5 {
	position: absolute;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 600;
	font-size: 11px;
	text-align: center;
	margin-top: 11px;
	width: 160px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.blog2 h5 {
	margin-top: 5px;
}

.blog4 h5 {
	margin-top: 5px;	
}

.row1 {
	margin-top: 35px;
	margin-left: 13px;
	position: relative;
}

.blog1 {
	display: inline-block;
	width: 160px;
	height: 170px;
	background-color: #ebebeb;
	
}

.blog2 {
	display: inline-block;
	margin-left: 13px;
	width: 160px;
	height: 170px;
	background-color: #ebebeb;
}

.row2 {
	margin-top: 35px;
	margin-left: 13px;
	position: relative;
}

.blog3 {
	display: inline-block;
	width: 160px;
	height: 170px;
	background-color: #ebebeb;
}

.blog4 {
	display: inline-block;
	margin-left: 13px;
	width: 160px;
	height: 170px;
	background-color: #ebebeb;
}




.blogIconBg {
	postion: absolute;
	margin-top: -20px;
	margin-left: 60px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 5px solid #ebebeb;
}

.blogIcon1 {
	position: absolute;
	margin: 5px;
	margin-top: -10px;
	margin-left: 70px;
}

.blogIcon2 {
	position: absolute;
	margin: 5px;
	margin-top: -10px;
	margin-left: 74px;
}

.blogIcon3 {
	position: absolute;
	margin: 5px;
	margin-top: -9px;
	margin-left: 71.5px;
}

.blogIcon4 {
	position: absolute;
	margin: 5px;
	margin-top: -9px;
	margin-left: 71px;
}

.readMore {
	position: relative;
	width: 160px;
	height: 30px;
	background-color: #acd373;
	margin-top: 46px;
}

.readMore a {
	display: block;
	font-family: "Droid Serif", serif;
	font-style: italic;
	font-size: 8.3px;
	color: #f7f7f7;
	margin-left: 59px;
	padding-top: 11px;
	text-decoration: none;
}

.newsletter {
	background-color: #acd373;
	margin-top: 57px;
}

.newsletter p {
	display: inline-block;
	font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    color: #f7f7f7;
    font-weight: normal;
	margin-left: 10px;
	margin-top: 26px;
	vertical-align: text-bottom;
}

.emailForm {
	display: inline-block;
}

.newsletter input {
	border: 1px solid #f7f7f7;
	background-color: transparent;
	width: 108px;
	height: 22px;
	font-family: "Droid Serif", serif;
    font-size: 8.5px;
    color: #f7f7f7;
    font-style: italic;
	padding: 0;
	padding-left: 0px;
	padding-top: 0px;
	margin-left: 11px;
	margin-bottom: 18px;
	text-align: center;
	vertical-align: text-top;
}

.send-button {
	display: inline-block;
	background-color: #f7f7f7;
	background-image: url("img/newsletter_icon.png");
	background-repeat: no-repeat;
	background-position: center center;
	width: 30px;
	height: 23.5px;
	vertical-align: text-top;
}

/* SECTION 9 -- CONTACT */


.contact {
    background-color: #acd373;
}

	
.contact h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #f7f7f7;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding-top: 45px;
}

.contact h4 {
    margin-top: 14px;
    font-family: "Droid Serif", serif;
    font-size: 12px;
    color: #f7f7f7;
    font-weight: normal;
    text-align: center;
    display: block;
}

.contact .whiteSep {
    margin-top: 13px;
    margin-bottom: 31px;
    background-image: url("img/separator_white.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 7px;
}

.contact p {
	margin-top: 36px;
	margin-left: 30px;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #f7f7f7;
}

.contact p2 {
	margin-top: 19px;
	margin-left: 30px;
	margin-bottom: 9px;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #f7f7f7;
}

.contact input {
	border: 0;
	background-color: #9abd67;
	width: 287px;
	height: 28px;
	font-family: "Droid Serif", serif;
    font-size: 11px;
    color: #f7f7f7;
    font-style: italic;
	padding: 0;
	padding-left: 13px;
	margin-left: 30px;
	margin-bottom: 19px;
	margin-top: 9px;
}

.contact textarea {
	border: 0;
	background-color: #9abd67;
	width: 287px;
	height: 83px;
	font-family: "Droid Serif", serif;
    font-size: 11px;
    color: #f7f7f7;
    font-style: italic;
	padding: 0;
	padding-left: 13px;
	padding-top: 10px;
	margin-top: 9px;
	margin-left: 30px;
	margin-bottom: 18px;
}

input.contact-button {
	display: inline-block;
	text-align: center;
	width: 220px;
	height: 32px;
	border: 0;
	background-color: #9abd67;
	font-family: "Droid Serif", serif;
    font-size: 11px;
    color: #f7f7f7;
    font-style: italic;	
	margin-left: 71px;
	margin-bottom: 45px;
	cursor: pointer;
}


/* SECTION 10 -- FOOTER */

footer {
	background-color: #9abd67;
	height: 100px;
}

.social{
	display: inline-block;
	margin-left: 56px;
	margin-top: 29px;
}

footer p {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #f7f7f7;
	margin-top: 14px;
	text-align: center;
}